<footer  class="border-top text-center ">
    <div class="f-info">
        <div class="f-info-socials">
            <a href="https://www.linkedin.com/in/s-abhishek-40029a358/"><i class="fa-brands fa-linkedin"></i></a>
        </div>
        <div class="f-info-brand"> &copy;2026 Morning Tea Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Links</a>
        </div>
    </div>
</footer>